<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col-2">Highbrow Technology</div>
  <div class="col-10">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about-us']">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/careers']">Careers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/services']">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>
    </ul>
  </div>
</div>



<router-outlet></router-outlet>